#heading {
  color: blue;
  background-color: yellow;
}

.heading-class {
  color: blue;
  background-color: yellow;
}

.box {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  margin: 5px;
  text-align: center;
  background-color: aquamarine;
}

.content {
  color: red;
}

.newClass {
  background-color: green;
}

div {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  margin: 5px;
  text-align: center;
  background-color: aquamarine;
}

.dark {
  background-color: black;
  color: white;
}

.light {
  background-color: white;
  color: black;
}
